.header{
    
    padding: 4.5vh;
    display: flex;
    background-color: #fff;
    

}
.site-slogan{
    width: 100%;
    margin: 0px 40px;
    text-align: center;
    
}
h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}